@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

/* Menu Our Menu */

.wrappermenu {
    margin: 0;
    padding-bottom: 2em;
    background: #DEBA9D;
    position: relative;
    box-sizing: border-box;
    position: static;
}
.wrappermenu .nav {
    width: 65%;
    text-align: center;
    display:inline-block;
}
.wrappermenu .nav ul {
    padding: 1em;
}
.wrappermenu .nav ul li {
    list-style-type: none;
    float: right;
    padding: 2em 2em 2em 0.5em;
}
.wrappermenu .nav ul li a {
    color: #201205;
    font-weight: bold;
}
.wrappermenu .nav ul li a:hover {
    color: #060606;
    border-bottom: 2px solid #201205;
    transition: .5s;
}
.wrappermenu .nav ul #product {
    text-decoration: underline;
}
.wrappermenu .container {
    margin-left: 8%;
    margin-bottom: 5%;
    width: 80%;
    background-color: #F9F3DF;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    border-collapse: collapse;
    border-radius: 2px;
}
.wrappermenu .container tr th {
    padding: 1em;
    border: 2px solid black;
    background: #160c04;
    color: #ffff;
}
.wrappermenu .container tr td {
    padding: 0.5em;
    border: 1px solid black;
}
.container tr:nth-child(even) {
    background: #f1d4bc;
}